html {
  font-size: 10px;
}

body {
  font-family: sans-serif;
  background: #ffc425;
  background: linear-gradient(to bottom, #ffc425 50%, #eaaa00 100%);
  /* background: linear-gradient(
    to right,
    rgba(255, 216, 87, 1) 0%,
    rgba(255, 151, 66, 1) 69%,
    rgba(255, 151, 66, 1) 100%
  ); */
  background-attachment: fixed;
  /* background-image: url("https://media1.giphy.com/media/b5EVtW4zARZo4/source.gif"); */
  background-size: cover;
}

p {
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: "Comfortaa", cursive;
}

a {
  color: #0d181c;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

h1 {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-size: 90px;
  /* transform: rotate(-5deg) skew(-20deg); */
  color: #fff;
  margin: 2rem 0 2rem 0;
}

h1 a {
  text-decoration: none;
  font-size: 10rem;
  text-shadow: 3px 3px 0 rgba(13, 24, 28, 0.2);
}

.beer {
  background: #fff;
  padding: 1rem;
  border-top: 1.5rem solid #e13e45;
  flex: 1 0 auto;
  margin: 2rem;
  overflow: hidden;
  width: calc(33.3% - 5rem);
  box-shadow: 0 0 10px rgba(13, 24, 28, 0.2);
  transition: all 0.2s;
  animation: fadeIn ease 6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.beer:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 2px rgba(13, 24, 28, 0.3);
}

.beer a {
  text-decoration: none;
}

.beer h2 {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Pacifico", cursive;
}

.beers {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}
/*
    Search
  */
.search {
  text-align: center;
  max-width: 500px;
  margin: 2rem auto;
}

.search form {
  display: flex;
}

.search form > * {
  flex: 1;
  background: #fff;
  border: 0;
  padding: 2rem;
  font-size: 2rem;
}

.search form > *[type="submit"] {
  flex-grow: 2;
  background: #e13e45;
  color: #fff;
  text-transform: uppercase;
}

.search form > *[type="text"] {
  flex-grow: 10;
}
/*
    Loader
  */
.loader {
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
  font-family: "Pacifico", cursive;
}
/*
    Single Beer View
  */
.single-beer {
  max-width: 500px;
  margin: 0 auto;
  background: #fff;
  padding: 2rem;
  border-radius: 15px;
}

.single-beer .label {
  width: 100%;
}

.single-beer img {
  border-bottom: #e13e45 solid 4px;
  border-top: #e13e45 solid 4px;
}

.single-beer h3 {
  font-size: 2rem;
  font-family: "Pacifico", cursive;
}

.desc h2 {
  font-size: 3rem;
  font-family: "Pacifico", cursive;
  text-align: center;
}

.glass img {
  float: left;
  width: 200px;
}
.abv {
  font-size: 15px;
}
